@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&display=swap');

.Lmain{
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
    height: 625px;
    position:relative;
}

.Lmiddle{
    color:white;
    font-family: 'Kaisei HarunoUmi', serif;
}

.Lh3{
    font-size: 50px;
    margin:180px 0px 0px 80px;
    position: absolute;
    
}

#Lbtn{
    position: absolute;
    background-color:black;
    border-radius: 0px;
    margin: 300px 0px 0px 350px;
    height: 70px;
    width: 70px;
    background-color:green;
}

.Lp{
    position: absolute;
    margin:380px 0px 0px 310px;
    font-size: 30px;
    
}

#Limg{
    margin: 100px 0px 0px 750px;
    position:absolute;
    background-color:red;
}