@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.SPmain{
    width: 1360px;
    height: 600px;
    background-color: black;
    position: absolute;
    font-family: 'Kaisei HarunoUmi', serif;
}

#SPnav{
    margin:50px 0px 0px 50px;
    font-size: 20px;
    position: relative;
    font-family: 'Righteous', cursive;
    color: white;
}

#SPform{
    width: 400px;
    height: 450px;
    text-align: center;
    margin:30px 0px 0px 850px;
    position: relative;
    background-color: white;
}

#SPpal{
    padding-top: 60px;  
  font-size: 30px;
  position: relative;
  margin:10px 0px 0px 0px;
}

#SPpcn{
    font-size:20px;
    margin:15px 0px 0px 0px;
}

#SPpac{
    margin:15px 0px 0px 50px;
    position: relative;
    font-size:20px;
}

#SPfbtn{
    position: relative;
    margin: 50px 0px 0px 0px; 
    font-size:25px;
    height:40px;
    width:150px; 
}

#SPbgimg{
    position:relative;
    margin:-480px 0px 0px 50px;
}

#SPbgtext{
    opacity:0.2;
    font-size:60px;
}