@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.SPmain{
    width: 1360px;
    height: 625px;
    background-color: black;
    position: absolute;
    font-family: 'Kaisei HarunoUmi', serif;
}

#SPnav{
    margin:50px 0px 0px 50px;
    font-size: 20px;
    position: relative;
    font-family: 'Righteous', cursive;
    color: white;
}

#SPform{
    width: 400px;
    height: 521px;
    text-align: center;
    margin:0px 0px 0px 850px;
    position: relative;
    background-color: white;
}

#SPpal{
    padding-top: 60px;  
  font-size: 30px;
  position: relative;
  margin:10px 0px 0px 0px;
  
}

#SPpcn{
    font-size:20px;
    margin:15px 0px 0px 0px;
}

#SPpac{
    margin:7px 0px 0px 20px;
    position: relative;
    font-size:20px;
    
}

#SPfbtn{
    position: fixed;
    margin: 200px 0px 0px -75px; 
    font-size:25px;
    height:40px;
    width:150px; 
}

#SPfbtn:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }

#SPbgimg{
    position:relative;
    margin:-480px 0px 0px 50px;
}

#SPbgtext{
    opacity:0.2;
    font-size:60px;
}









#iconplus{
    position: relative;
    margin: 0px 0px -5px 0px ;
}



.EachItem{
    position: relative;
    height: 50px;
    width: 400px;
}

#SPh4{
    width: 394px;
    border-style: groove;
    margin: 0px 0px 0px 0px;
    position: absolute;
}

#icontrash{
    position: absolute;
    margin: -17px 0px 0px 150px;
}

.Btn{
    position: fixed;
    margin: 150px 0px 0px -50px;
}