@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    font-size: bold;
}

.Sumain{
    background-color: black;
    margin-top: -22px;
    width: 1365px;
    height: 630px;
    position: absolute;
}

#navtext{
    font-family: 'Righteous', cursive;
    color: white;
    background-color: black;
    font-size: 20px;
    margin: 50px 0px 0px 50px;
    position: fixed;
    width: 1365px;
}

.sform{
    width: 300px;
    height: 300px;
    display: inline-block;
    background-color: white;
    text-align: center;
    justify-content: center;
    margin: 260px 0px 0px 900px;
    border-radius: 0px ;
    border-style: none;
    border-color: white;
    position: relative;
    
}

input , button{
    margin: 20px 0px 0px 0px;
    position: relative;
}

#email {
 margin: 0px 0px 0px 0px;
}

button{
    background-color: black;
    color: white;
    transition: none;
    height: 30px;
    width: 100px;
    border-radius: 0px;
    border-style: none;
    margin: 40px;
}

#Suphoto{
    margin: -450px 0px 0px 40px;
    position: relative;
   
    
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
#Suphototext{
    font-size: 70px;
    color: white;
    font-family: 'Kanit', sans-serif;
    margin: 0px 0px 0px 100px;
   
}

#Sucir2{
    height: 105px;
    width: 105px;
    background-color:red;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: 0px 0px 100px -700px;
}

#Sucir3{
    height: 45px;
    width: 45px;
    background-color:yellow;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: 0px -10px 100px 100px;
}

#Sucir1{
    height: 185px;
    width: 185px;
    background-color:rgb(6, 236, 6);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: -1500px 0px 0px 600px;
}


#Suimg1{
    width: 100px;
    height: 500px;
}
